SUPABASE_URL=https://ufsuproibzksvcfhxvdg.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVmc3Vwcm9pYnprc3ZjZmh4dmRnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyMjEwMzgsImV4cCI6MjA1OTc5NzAzOH0.GQI0R2FTPN0Qg6u0O8-l0mVBuuUoo22jNqY15wLRAqk
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVmc3Vwcm9pYnprc3ZjZmh4dmRnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NDIyMTAzOCwiZXhwIjoyMDU5Nzk3MDM4fQ.bdmzlFtOTIA3GbWAqxImR1UB3SQeTpqkDDNKgAlzOT8
